@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html,body{
  font-family: 'Montserrat', sans-serif !important;
}
.container-fluid{
      background: linear-gradient(90deg,#DEC6D8,white);
      }
.inner-row{
        height: 100vh;
      }

.primarycolor{
        color: #529EC2;
      }
.form-box{
        width: 506;
        height: 522;
        background: white;
        box-shadow: 0 0 20px rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
        border-radius: 26px;
      }
.form-control-lg{
        width: 351;
      }
.form-title{
        padding: bottom 50px;
        
      }
.navbar{
  background: #78005D;
}

/* JUMBOTRON */
.banner{
  height: 90vh;
  /* background: url(../image/alfabel.jpeg); */
  background-size: cover;
  background-position: bottom;
}

.tagline h1{
  /* margin-left: 103px; */
  width: 721px;
  font-size: 60px;
  color: black;
  line-height: 80px;
  font-family: 'Montserrat';
}
.tagline p{
  width: 600px;
  font-size: 20px;
  margin: 50px 0px 50px 0px;
  line-height: 26px;
  font-family: 'Montserrat';
}

.bg-gradient-custom {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
 
}

/* MATERIAL */
#banner-material{
  height: 90vh;
  background: url(../image/material.png);
  background-size: cover;
}
#banner-material h1{
  font-size: 5rem;
 
}
/* ABOUT US */
.container-fluid-about{
  background-color: white;
}
.features{
  /* padding: 129px 134px; */
  /* padding: 130px auto; */
  
 
}
.features h4{
  font-size: 40px;
  color: #121212;
}
.features p{
  font-size: 28px;
  line-height: 45px;
  /* width: 774px; */
  color: #4A4848;
}
/* OUR SERVICE */
.content-service{
  margin-top: 23px;
  margin-bottom: 54px;
}
.title-service h4{
  font-size: 40px;
  color: #78005D;
}
.content-service p{
  font-size: 24px;
  color: #4b474a;
}
.title-card{
  font-size: 24px;
}
.link-service a{
  text-decoration: none;
  color: #771C5F;
}
.card{
  margin-right: 20px;
}

/* ORDER */

.content-order img h6{
  width: 128px;
  height: 139px;
}
.form-title h2{
  color: #771C5F;
  
}
.title-order h4{
  margin-bottom: 54px;
  font-size: 40px;
}
.line-order hr{
  background-color:#707070;

}

/* CTA */
.CTA{
  background-image: linear-gradient(90deg,#D26ECF,#A25E91);
  margin: 140x 145px ;
  height: 265px;
}
.content-CTA{
  font-size: 40px;
  color: white;
  padding-top: 50px;
}
.btn-CTA{
  width: 194px;
  height: 55px;
  font-size: 24px;
  color:#121212;
}

/* FOOTER */
.footer i{
  margin-right: 20px;
  text-decoration: none;
  color: #121212;
}

/* PESANAN */
#pesanan {
background: linear-gradient(160deg, white ,#DEC6D8);
}

#pesanan h6{
  font-size: 68px;
  margin-bottom: 63px;
}
#pesanan p{
  font-size: 17px;
}
.row-content{
  padding: 100px 140px;
}    
.daftar-pesanan{
  margin-top: 86px;
}

/* EDIT AKUN */
#akun{
  background: linear-gradient(160deg, white ,#E5D3E1);
}
#akun p{
  margin-bottom: 56px;
}
#akun form{
  width: 100vh;
}


/* CONTENT BAHAN*/
.bahan-utama{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content-bahan{
  display: flex;
  min-height: 100vh;
  align-items: center;
 
}
.left{
  width: 556px;
  height: 556px;
  background-image: url(../image/ivory.jpg);
  background-size: cover;
  border-radius: 8px;
}
.right{
  width: 399px;
  display: flex;
  align-items: center;
  justify-content: start;
 color: white;
 margin-left: -100px;
  border-radius: 8px;
  background-color: #A25E91;
}
.deskripsi{
  padding-left: 42px;
}
.right img{
  width: 556px;
  height: 556px;
  margin-left: 100px;


}
.left-kraft{
   width: 399px;
   height: 355px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 100px;
 color: white;
  background-color: #A25E91;
}
.right-kraft{
  width: 556px;
  height: 556px;
  background-size: cover;
}

/* LAMINASI */
.container .box{
  width: 500px;
  height: 400px;
  display: flex;
  margin-right: 35px;
  transition: all .3s;
  
}
.box{
  width: 500px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
.doff{
  background-image: url(../image/doff.png);
}
.glossy{
  background-image: url(../image/glossy.png);
}

.text{
  background-color: rgba(222,198,216,0.6);
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.text:hover{
  opacity: 1;
}

.card-title{
  text-align: center;
}

.carousel-control-prev img{
  width: 88px;
  height: 88px;
  padding: 0%;
}
.carousel-control-next img{
  width: 88px;
  height: 88px;
  padding: 0%;
}

.carousel-item .container{
  width: 958px;
  background-color: #DEC6D8;
}
.image-model img{
  width: 413px;
  height: 369px;
  padding: 20px 10px;
}
.content-model h6{
text-align: center;
}